* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(86, 112, 96, 0.3);
}

header {
  width: 1200px;
  margin: 25px auto;
}

header h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  text-align: center;
  box-shadow: 2px;
}

main {
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  background-color: #294147;
  border-radius: 10px;
  display: flex;
}

main section.side-bar {
  width: 200px;
  height: 700px;
}

main section.side-bar nav.menu {
  width: 200px;
  height: 700px;
  background-color: #294140;
}

main section.side-bar .menu #new-game {
  width: 180px;
  height: 40px;
  margin: 10px 0px 0px 10px;
  border: 0;
  background-color: rgb(67, 153, 67);
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  font-weight: 500;
  transition-duration: 0.6s;
}

main section.side-bar .menu #settings {
  width: 180px;
  height: 40px;
  margin: 10px 0px 0px 10px;
  border: 0;
  background-color: rgb(67, 153, 67);
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  font-weight: 500;
  transition-duration: 0.6s;
}

main .menu button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

main section.side-bar .menu #new-game:hover {
  background-color: rgb(55, 116, 55);
}

main section.game-field {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 700px;
  background-image: url(../../images/background.jpg);
  display: flex;
  flex-basis: 84%;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

/* Footer */
footer {
  float: right;
  margin: 10px 370px 0 0;
}

#animation {
  margin-left: 25px;
  margin-top: 5px;
  width: 150px;
  height: 200px;
  background: #294139;
  border: 1px solid grey;

  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;

  animation-duration: 2s;
  -webkit-animation-duration: 2s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}
@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
